[submodule "external/Linux2Windows"]
	path = external/Linux2Windows
	url = https://github.com/CiaranWelsh/Linux2Windows.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
